body {
    width: 600px;
    height: 600px;
}

main {
    position: relative;
}

div.history-items {
    position: relative;
}


a:hover {
    filter: drop-shadow(2px 2px 0px rgb(255, 255, 255));
    vertical-align: top;
    z-index: 1000;
}

img {
    z-index: 10000;
    width: 24px;
    height:auto;
}

img:hover {
    filter: brightness(2);
    cursor: pointer;
}

div#menu-bar {
    position: fixed;
    width: 24px;
    height: auto;
}

img#refresh {
    position: fixed;
    margin: 8px;
    top: 0;
    right: 0;
}

div#dropdown {
    position: fixed;
    top: 8px;
    left: 35px;
    width: 100px;
    color: red;
    list-style: none;
    font-size: 10pt;
    border: 1.5px red solid;
    background-color: white;
    display: none;
    padding: 3px;
}

div.time-select {
    margin: 5px;
    width: auto;
    height: 20px;
    cursor: pointer;
    padding: 3px;
}

div.time-select:hover {
    color:white;
    background-color: red;
}